<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewData["Title"] — ChefBook</title>
    <link rel="stylesheet" href="~/index.css" />
    <link rel="stylesheet" href="~/search.css" />
    <link rel="stylesheet" href="~/common.css" />
</head>
<body>
    <div class="page">
        <div class="site-root" role="document">
            @RenderBody()
        </div>
    </div>
</body>
</html>
